/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 de out. de 2021, 12:23:46
    Author     : ifs54
*/
.button {
    -fx-pref-width: 75;
    -fx-pref-height: 30;
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-padding: 2;
    -fx-backgournd-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: red;
    -fx-border-radius: 2px;
    -fx-border-color: red;
}
  
.button:hover{
    -fx-transition: color 2000ms ease-in-out;
    -fx-font-veight: bold;
    -fx-background-color:  red;
    -fx-padding: 2;
    -fx-backgournd-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

